html {
    background: linear-gradient(rgb(150, 136, 136), aquamarine);
    background-attachment: fixed;
    font-family: "Roboto";
    height: 100vh;
}

h1 {
    text-align: center;
}

.container {
    display: grid;
    height: 100%;
    grid-template-columns: 25% 50% 25%;
    flex: 1;
}

.game {
    display: flex;
    flex-flow: column nowrap;
    flex: initial;
    place-content: center flex-start;
    align-items: center;
}

#toggleGame {
    padding: 20px 50px 20px 50px;
    border-radius: 20px;

}

#doubleJump {
    margin:30px;
    padding: 20px 50px 20px 50px;
    border-radius: 20px;

}
.instructions {
    display: flex;
    flex-flow: column nowrap;
    flex: initial;
    place-content: center flex-start;
    align-items: strech;
}

.instructions > * {
    padding-bottom: 10px;
    padding-left: 30px;
}

.instructions > p::before {
  content: "\2728";
}

.settings {
    display: flex;
    flex-flow: column nowrap;
    flex: initial;
    place-content: center flex-start;
    align-items: center;
}

.settings > * {
  padding-bottom: 50px;
}


#circle {
    height: 500px;
    aspect-ratio: 1/1;
    border-radius: 50%;
    position: relative;
    margin: 60px;
}

.dot {
    aspect-ratio: 1/1;
    border-radius: 50%;
    background: red;
    translate: -50% -50%;
    position: absolute;
}

footer {
    text-align: center;
}

#toggleGame, #doubleJump {
    background-color: black;
    color: aliceblue;
    font-size: 16px;
    border: 0px;
}

#toggleGame:hover, #doubleJump:hover {
    transform: scale(1.05);
    transition: transform 0.1s linear 0ms;
}

#toggleGame:active, #doubleJump:active {
    transform: scale(0.95);
    transition: transform 0.1s linear 0ms;
}

#scoreDisplay {
    font-size: 30px;
}